.navbar-container {
  border: solid 2px red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #545353;
  padding: 10px 20px;

  .navbar-logo {
    display: flex;
    align-items: center;

    .logo {
      border-radius: 50px;
      width: 3vw;
      height: 8vh;
      margin-right: 10px;
    }

    .heading {
      display: flex;
      flex-direction: column;
      color: #fff;
      margin-left: 10px;

      h3 {
        margin: 0;
      }
    }
  }

  .navbar-links {
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        margin: 0 10px;

        a {
          color: #fff;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: #00fffb;
          }
        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #545353;
          padding: 10px;

          li {
            margin: 5px 0;

            a {
              color: #fff;
              text-decoration: none;
              transition: color 0.3s;

              &:hover {
                color: #00fffb;
              }
            }
          }
        }

        &:hover > ul {
          display: block;
        }
      }
    }
  }

  .menu-toggle {
    display: none;
    cursor: pointer;

    .hamburger {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 5px 0;
      transition: transform 0.3s;

      &.open {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform-origin: center;
        opacity: 0;

        &.open {
          transform: scaleX(0);
        }
      }

      &:nth-child(3) {
        transform-origin: center;
        transform: rotate(0);

        &.open {
          transform: rotate(-45deg);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #545353;
      padding: 10px;

      ul {
        flex-direction: column;

        li {
          margin: 10px 0;

          &:hover > ul {
            display: none;
          }
        }
      }
    }

    .menu-toggle {
      display: block;
    }
  }
}
